.logo {
  height: 160px;
  width: 600px;
  position: fixed;
}

.cloud {
  height: 600px;
  width: 950px;
  position: fixed;
  opacity: 1;
}

.text {
  margin-top: 62px;
  height: 370px;
  width: 680px;
  margin-right: 10px;
  position: fixed;
}

.buttons {
  position: fixed;
  margin-top: 340px;
  transform: translateY(610px);
  width: 1070px;
  height: 1800px;
}

.buttonsText {
  position: fixed;
  margin-top: 990px;
  width: 470px;
  height: 200px;
}

@media (max-width: 953px) {
  .cloud {
    height: 480px;
    width: 780px;
  }

  .text {
    height: 300px;
    width: 580px;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 96px;
    width: 360px;
    position: fixed;
  }

  .cloud {
    height: 336px;
    width: 546px;
  }

  .text {
    margin-top: 42px;
    height: 210px;
    width: 406px;
  }

  .buttons {
    transform: translateY(610px);
    width: 642px;
    height: 1080px;
  }

  .buttonsText {
    transform: translateY(-230px);
    width: 282px;
    height: 120px;
  }
}

@media (max-width: 554px) {
  .logo {
    height: 56px;
    width: 216px;
    position: fixed;
  }

  .cloud {
    height: 200px;
    width: 327px;
  }

  .text {
    margin-top: 25px;
    height: 110px;
    width: 210px;
  }

  .buttons {
    transform: translateY(610px);
    width: 450px;
    height: 756px;
  }

  .buttonsText {
    transform: translateY(-317px);
    width: 196px;
    height: 84px;
  }
}
