.logo {
  height: 135px;
  width: 450px;
  position: fixed;
}

.cloud {
  height: 600px;
  width: 950px;
  position: fixed;
  opacity: 1;
}

.text {
  margin-top: 62px;
  height: 370px;
  width: 680px;
  margin-right: 10px;
  position: fixed;
}

.buttons {
  position: fixed;
  margin-top: 800px;
  transform: translateY(120px);
  width: 1070px;
  height: 100px;
}

.buttonsText {
  position: fixed;
  margin-top: 800px;
  margin-right: 20px;
  width: 1000px;
  height: 85px;
  cursor: pointer;
}

.buttonsMobile {
  display: none;
}

.buttonsTextMobile {
  display: none;
}
